<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> CAR MILEAGE PREDICTION(MPG) </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> HP :  <input type="text", name='HP', placeholder="enter 1"> <br><br>
            Speed :  <input type="text", name='SP', placeholder="enter 2"> <br><br>
            Volume :  <input type="text", name='Volume', placeholder="enter 3"> <br><br><br></b>
            
            <input type="submit" , value='Predict' >
        </form>
                
    </center>

    </body>
</html>
